@import "variables";
@import "bootstrap";

html, body {
  margin: 0;
  color: black;
  background: white;
  font-size: 16px;
  @media (min-width: $screen-md-min) {
    font-size: 24px;
  }
}

ul.nav.navbar-nav {
  font-size: 16px;
  @media (min-width: $screen-md-min) {
    font-size: 24px;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 16px;
  @media (min-width: $screen-md-min) {
    font-size: 24px;
  }
}